// Variables

$white: #fff !default;
$gray-100: #c1cec7 !default;
$gray-200: #009137 !default;
$gray-300: #03bba2 !default;
$gray-400: #38f7ae !default;
$gray-500: #08b651 !default;
$gray-600: #13e753 !default;
$gray-700: #0c992f !default;
$gray-800: #065c14 !default;
$gray-900: #212529 !default;
$black: #161616 !default;

$primary: #64a19d !default;
